.Toolbar { 
    background: #3C3B3F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  
    background: linear-gradient(to right, #605C3C, #3C3B3F); 
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h1 {
        margin: 0;
        padding: 0;
    }

    .dropdown {
        padding: 10px;
    }

    button {
        margin: 10px;
        position: relative;
        color: red; 
    }
}