.Toolbar { 
    background: #3C3B3F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  
    background: linear-gradient(to right, #605C3C, #3C3B3F); 
    color: white;

    
    h1 {
        margin: 0;
        padding: 0;
    }

}